<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<settings>
	<setting name="cacheEnabled" value="false" />
</settings>
<environments default="development">
	<environment id="development">
	<transactionManager type="JDBC"/>
	<dataSource type="UNPOOLED">
        <property name="driver" value="org.postgresql.Driver"/>
        <property name="url" value="jdbc:postgresql:nanotweets"/>
        <property name="username" value="johncar"/>
        <property name="password" value="johncar2013"/>
        </dataSource>
	</environment>
</environments>
<mappers>
	<mapper resource="com/nanotweets/dao/xml/AnnotationMapper.xml" />
</mappers>
</configuration>